.menu-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 3;
  transition: all 0.3s ease-out;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.3s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu .menu-branding, .menu .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  float: left;
  overflow: hidden;
}
.menu .menu-nav {
  margin: 0;
  padding: 0;
  background: rgba(55, 55, 55, 0.9);
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.3s ease-out;
}
.menu .menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu .menu-branding {
  background: rgba(68, 68, 68, 0.9);
  transform: translate3d(0, 100%, 0);
  transition: all 0.3s ease-out;
}
.menu .menu-branding.show {
  transform: translate3d(0, 0, 0);
}
.menu .menu-branding .portrait {
  background: url(../img/portraing-lg.jpg);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid 3px #eece1a;
}
.menu.show {
  visibility: visible;
}
.menu .nav-item {
  transform: translate3d(1000px, 0, 0);
  transition: all 0.3s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
}
.menu .nav-item.active > a {
  color: #eece1a;
}
.menu .nav-item .nav-link {
  display: inline-block;
  position: relative;
  font-size: 1.75rem;
  text-transform: uppercase;
  padding: 0.5rem 0;
  font-weight: 400;
  color: #fff;
  transition: all 0.3s ease-out;
}
.menu .nav-item .nav-link:hover {
  color: #eece1a;
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
}

* {
  box-sizing: border-box;
}

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
body#bg-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/business-2717063_1920.jpg);
  background-attachment: fixed;
  background-size: cover;
  /* &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($primary-color, $background-opacity);
      z-index: -1;
  } */
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading, h2.lg-heading, h3.lg-heading {
  font-size: 6rem;
}
h1.sm-heading, h2.sm-heading, h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(73, 73, 73, 0.5);
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #eece1a;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 50px);
}
main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
  transition: all 0.3s ease-out;
}
main .icons a:hover {
  color: #eece1a;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}

.about-info {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-areas: "bioimage bio bio" "work1 work2 work3";
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #eece1a;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.25rem;
  max-width: 768px;
}
.about-info .work-1 {
  grid-area: work1;
}
.about-info .work-2 {
  grid-area: work2;
}
.about-info .work-3 {
  grid-area: work3;
}
.about-info .work {
  background: #515151;
  padding: 0.75rem;
  border-bottom: 5px solid #eece1a;
}
.about-info .work h3 {
  font-size: 1.3em;
  font-weight: 400;
}
.about-info .work .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.projects .item {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.25rem;
  background: rgba(55, 55, 55, 0.5);
  padding: 0.75rem;
}
.projects .item .item-image img {
  max-width: 100%;
  opacity: 0.5;
  border-radius: 0.25rem;
  transition: all 0.3s ease-out;
}
.projects .item .item-image img:hover {
  opacity: 1;
}
.projects .item .item-image img:hover::after {
  content: "View project";
  margin: auto;
  color: black;
}
.projects .item .item-data h3 {
  margin-top: 0.5rem;
}
.projects .item .item-links {
  padding: 0.25rem 0 0.25rem 0;
}
.projects .item .item-links a {
  padding-right: 0.5rem;
  transition: all 0.3s ease-out;
}
.projects .item .item-links a:hover {
  color: #eece1a;
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.boxes div {
  font-size: 2rem;
  border: 3px solid #fff;
  padding: 1.5rem;
  margin-bottom: 2rem;
  transition: all 0.3s ease-out;
}
.boxes div:hover {
  background: #fff;
  color: black;
  border: 3px solid #eece1a;
  padding: 1rem;
}

footer {
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 0.75rem 0;
  background: rgba(73, 73, 73, 0.5);
  color: #c6ab0f;
}
footer a {
  color: #e6e6e6;
}

@media screen and (min-width: 1200px) {
  .projects {
    max-width: 1054px;
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }

  .menu-nav, .menu-branding {
    float: none !important;
    width: 100% !important;
    min-height: 0 !important;
  }
  .menu-nav.show, .menu-branding.show {
    transform: translate3d(0, 0, 0) !important;
  }

  .menu-nav {
    height: 75vh !important;
    background: #373737 !important;
    transform: translate3d(-100%, 0, 0) !important;
  }

  .menu-branding {
    height: 25vh !important;
    background: #444 !important;
    transform: translate3d(100%, 0, 0) !important;
  }
  .menu-branding .portrait {
    background: url("../img/portraing-sm.jpg") !important;
    width: 150px !important;
    height: 150px !important;
  }

  #about .about-info {
    grid-template-areas: "bioimage" "bio" "work1" "work2" "work3";
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 576px) {
  main {
    padding: 2rem !important;
  }
  main#home h1 {
    margin-top: 10vh !important;
  }

  main#about h1 {
    font-size: 5rem;
    margin-top: 5vh;
  }

  main#contact h1 {
    font-size: 5rem;
    margin-top: 10vh;
  }

  main#projects h1 {
    margin-top: 5vh;
  }

  .about-info .work .row {
    grid-template-columns: 1fr;
    text-align: left;
    margin: 0.5em 0;
  }
  .about-info .work .row ul {
    margin: 0;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .boxes div {
    font-size: 1rem;
  }
}
